* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}  

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
}

header nav {
    margin-right: 20px; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    margin-right: 40px;
}

header img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table th {
    background-color: #009879;
    color: #ffffff;
}

.styled-table tr {
    background-color: #f3f3f3;
}

.styled-table tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #009879;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #007f6f;
}