<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css/PatientRecords.css') }}">
    <title>Appointment Overview</title>
</head>
<body>
    
     <!---- Creating the navbar and the icon ----->
     <header>
        <a href="{{ url_for ('index') }}">
        <img src="../static/assets/Icons/mainIcon.png" alt="Telehealth Logo">
        </a>      
        <nav>
            <ul>
                <li><a href="{{ url_for ('Appoint-Over') }}">Appointment Overview</a></li>
                <li><a href="{{ url_for ('Consult') }}">Consultations</a></li>
                <li><a href="{{ url_for ('MyMedicines') }}">Medicines</a></li>
            </ul>
        </nav>
    </header>

    
    <div class="container">
        <h1>Appointment Overview</h1> 
        <table id="appointment-overview-table" class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody id="appointment-overview-body">
                <!-- Appointments will be dynamically added here -->
            </tbody>
        </table>
    </div>
    
    
</body>
</html>