<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultations</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='styles.css/Consultations.css') }}">
</head>
<body>
      
     <!---- Creating the navbar and the icon ----->
     <header>
        <a href="{{ url_for ('index') }}"> 
        <a href="{{ url_for ('index') }}">
        <img src="../static/assets/Icons/mainIcon.png" alt="Telehealth Logo">
        </a>      
        <nav>
            <ul>
                <li><a href="{{ url_for ('AppointOver') }}">Appointment Overview</a></li>
                <li><a href="{{ url_for ('Consultations') }}">Consultations Scheduled</a></li>
                <li><a href="{{ url_for ('MyMedicines') }}">Medicines</a></li>
            </ul>
        </nav>
    </header>    
   
    <div class="consultations-container">
        <h1>Consultations</h1>
        <div class="video-call-container">
            <div class="video-call">
                <p>Video Call</p>
            </div>
            <div class="video-call">
                <p>Video Call</p>
            </div>
        </div>
    </div>

</body>
</html>