<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename='styles.css/Consult.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='styles.css/FT-RES.css') }}">
    <link rel="icon" href="../static/assets/Icons/mainIcon.png">
    <title>Consultation History</title>
</head>
<body>
    
     <!---- Creating the navbar and the icon ----->
     <header>
        <div class="left-header">
            <img src="../static/assets/Icons/mainIcon.png" alt="Logo" class="logo">
        </div>
    
        <div class="right-header">
            <div class="hamburger-menu">&#9776;</div> <!-- ☰ -->
        </div>
    
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('dashschedule') }}">Schedule an Appointment</a></li>
                <li><a href="{{ url_for('Consult') }}">My Appointments</a></li>
                <li><a href="{{ url_for('MyMedicines') }}">My Medicines</a></li>
            </ul>
        </nav>
    </header>


<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <div class="flash-messages">
    {% for category, message in messages %}
      <div class="alert {{ category }}">
        <span>{{ message }}</span>
        <button class="close" onclick="this.parentElement.style.display='none';">&times;</button>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endwith %}

    
    <div class="consultations-history">
        <h2>Consultations History</h2>
        <div id="history-container">
            <!-- Scheduled appointments will appear here -->
        </div>
    </div>      
  

</body>
</html>